@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.load {
  position: fixed;
  display: flex;
  justify-content: center;
  inset: 0;
  z-index: 20;
  background-color: white;
  opacity: 0.9;
  -webkit-animation: disappear 3s;
          animation: disappear 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.loader {
  position: absolute;
  display: block;
  margin: auto;
  margin-top: 200px;
  border: 10px solid;
  width: 120px;
  height: 120px;
  border-top-color: #FF79DA;
  border-bottom-color: #99E2D0;
  border-left-color: #9356DC;
  border-right-color: #9356DC;
  border-radius: 50%;
  -webkit-animation: rotate 3s linear;
          animation: rotate 3s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.location,
.infos {
  padding-left: 20px;
  padding-right: 20px;
}

.location {
  height: 40px;
  background-color: rgba(227, 227, 227, 0.7607843137);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.location p {
  margin: 0;
  text-align: center;
  font-weight: bold;
}

.infos {
  background-color: rgba(240, 240, 240, 0.5607843137);
  padding-bottom: 30px;
}
.infos h1 {
  margin-top: 0;
  padding-top: 30px;
  text-align: center;
  font-size: 1.6em;
}
@media all and (min-width: 992px) {
  .infos h1 {
    width: 100%;
    font-size: 2.5em;
  }
}
.infos p {
  text-align: center;
  font-weight: lighter;
  font-size: larger;
}
@media all and (min-width: 992px) {
  .infos p {
    font-size: x-large;
  }
}

button {
  display: block;
  margin: 30px auto 30px auto;
  height: 30px;
  border-radius: 20px;
  border: #FF79DA;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  box-shadow: 0px 5px 20px rgba(153, 153, 153, 0.671);
  padding: 13px 20px 28px 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media all and (min-width: 992px) {
  button {
    padding-bottom: 32px;
    font-size: large;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 0.5s;
  }
}
button:hover {
  opacity: 0.7;
  box-shadow: 0px 15px 20px #999;
}
@media all and (min-width: 992px) {
  button:hover {
    transform: scale(1.1);
    opacity: 0.7;
    box-shadow: 0px 15px 20px #999;
    cursor: pointer;
  }
}

.fonction h2,
.restaurants h2 {
  margin: 10% 0 10% 5%;
  font-weight: bolder;
}
@media all and (min-width: 992px) {
  .fonction h2,
.restaurants h2 {
    margin: 3%;
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
  padding-right: 10px;
  gap: 25px;
}
@media all and (min-width: 992px) {
  .steps {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 3% 5% 3%;
  }
}
.steps .step {
  width: 80%;
  border: none;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: rgba(240, 240, 240, 0.4823529412);
  margin-left: 5%;
  padding: 5% 0 5% 10%;
  display: flex;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  gap: 25px;
}
@media all and (min-width: 992px) {
  .steps .step {
    height: 30px;
    width: 25%;
    padding: 30px;
    margin-left: 0;
    gap: 30px;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 0.5s;
  }
}
.steps .step .number {
  border-radius: 50%;
  background-color: #9356DC;
  margin-left: -50px;
  padding: 5px 10px 5px 10px;
  font-size: small;
  color: white;
}
@media all and (min-width: 992px) {
  .steps .step .number {
    font-weight: bold;
  }
}
.steps .step i {
  color: #6E6E6E;
  font-size: large;
}
.steps .step:hover {
  background-color: rgba(146, 86, 220, 0.1450980392);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px 0px;
}
@media all and (min-width: 992px) {
  .steps .step:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: rgba(146, 86, 220, 0.1450980392);
  }
}
.steps .step:hover i {
  color: #9356DC;
}

.restaurants {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 240, 240, 0.5607843137);
  margin-bottom: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
}
@media all and (min-width: 768px) {
  .restaurants {
    margin-bottom: 0;
  }
}
@media all and (min-width: 992px) {
  .restaurants {
    margin-bottom: 0;
  }
}
.restaurants a {
  text-decoration: none;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5%;
  padding-right: 5%;
}
@media all and (min-width: 992px) {
  .restaurants .cards {
    flex-direction: row;
    margin-left: 3%;
    margin-right: 3%;
    padding: 0;
  }
}
.restaurants .cards .rest_card {
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 5px 20px #999;
  position: relative;
}
@media all and (min-width: 992px) {
  .restaurants .cards .rest_card {
    height: 260px;
    width: 25%;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 0.5s;
  }
}
.restaurants .cards .rest_card .card_image {
  height: 70%;
  position: relative;
}
.restaurants .cards .rest_card .card_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .cards .rest_card .card_image .new {
  position: absolute;
  font-weight: bold;
  border-radius: 2px;
  padding: 2% 3% 2% 3%;
  background-color: #99E2D0;
  color: #088C6C;
  top: 5%;
  right: 5%;
}
.restaurants .cards .rest_card .card_body {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  color: black;
}
.restaurants .cards .rest_card .card_body h3 {
  margin-top: 12px;
  margin-bottom: 2px;
}
.restaurants .cards .rest_card .card_body p {
  margin: 0;
}
.restaurants .cards .rest_card .heart {
  display: block;
  margin: 5%;
  font-size: 25px;
  color: black;
  position: absolute;
  top: 70%;
  left: 80%;
}
.restaurants .cards .rest_card .heart .custom_checkbox input[type=checkbox],
.restaurants .cards .rest_card .heart .custom_checkbox .checked {
  display: none;
}
.restaurants .cards .rest_card .heart .custom_checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: fillup 3s;
          animation: fillup 3s;
}
.restaurants .cards .rest_card .heart .custom_checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}
@media all and (min-width: 992px) {
  .restaurants .cards .rest_card:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

footer {
  padding: 5% 0 3% 5%;
  background-color: #5C5C5C;
  color: white;
}
@media all and (min-width: 992px) {
  footer {
    padding: 3% 0 3% 3%;
  }
}
footer img {
  width: 30%;
  color: white;
  filter: invert(100%);
}
@media all and (min-width: 992px) {
  footer img {
    width: 15%;
    margin-bottom: 1%;
  }
}
footer .links a {
  color: white;
  text-decoration: none;
}
@media all and (min-width: 992px) {
  footer .links {
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  footer .links i {
    display: block;
    margin: auto 16px auto 0;
  }
}
footer .links .link_1,
footer .links .link_2 {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
footer .links .link_1 i {
  display: block;
  margin: auto 16px auto 0;
}
footer .links .link_2 i {
  margin-right: 10px;
}
footer .links .link_2 p {
  margin: 0;
}
@media all and (min-width: 992px) {
  footer .links .link_2 {
    align-items: center;
  }
}

header .title_m {
  display: flex;
  gap: 0;
  align-items: center;
  padding-left: 5%;
}
header .title_m i {
  color: black;
  font-size: x-large;
}
@media all and (min-width: 992px) {
  header .title_m i {
    width: 25%;
    font-size: xx-large;
  }
}
header .title_m img {
  margin-left: 21%;
}
header .title img,
header .title_m img {
  display: block;
  margin: auto;
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
}
@media all and (min-width: 992px) {
  header .title img,
header .title_m img {
    width: 25%;
  }
}

.pic {
  width: 100%;
  height: 210px;
}
@media all and (min-width: 992px) {
  .pic {
    height: 200px;
  }
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media all and (min-width: 992px) {
  img {
    height: 100%;
  }
}

.menu {
  border-radius: 50px 50px 0 0;
  background-color: #F0F0F0;
  padding: 5%;
  position: relative;
}
@media all and (min-width: 992px) {
  .menu {
    border-radius: 0;
  }
}
.menu .menu_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5%;
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .menu .menu_title {
    padding-right: 10%;
  }
}
.menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
}
.menu .heart_menu {
  font-size: xx-large;
}
.menu .heart_menu .custom_checkbox input[type=checkbox],
.menu .heart_menu .custom_checkbox .checked {
  display: none;
}
.menu .heart_menu .custom_checkbox input[type=checkbox]:checked ~ .checked {
  display: inline-block;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: fillup 3s;
          animation: fillup 3s;
}
.menu .heart_menu .custom_checkbox input[type=checkbox]:checked ~ .unchecked {
  display: none;
}

@media all and (min-width: 992px) {
  .the_food {
    display: flex;
    justify-content: space-between;
  }
}
.the_food .appetizers,
.the_food .dishes,
.the_food .desserts {
  margin-bottom: 50px;
}
@media all and (min-width: 992px) {
  .the_food .appetizers,
.the_food .dishes,
.the_food .desserts {
    width: 30%;
  }
}
.the_food .appetizers h2,
.the_food .dishes h2,
.the_food .desserts h2 {
  margin-left: 0;
  margin-bottom: 5px;
  font-weight: 400;
}
.the_food .appetizers .underline,
.the_food .dishes .underline,
.the_food .desserts .underline {
  width: 60px;
  height: 5px;
  background-color: #99E2D0;
}
.the_food .appetizers .meals,
.the_food .dishes .meals,
.the_food .desserts .meals {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  -webkit-animation: moveup 1000ms;
          animation: moveup 1000ms;
}
.the_food .appetizers .meals .the_meal_box_1,
.the_food .dishes .meals .the_meal_box_1,
.the_food .desserts .meals .the_meal_box_1 {
  -webkit-animation: fade 2000ms;
          animation: fade 2000ms;
}
.the_food .appetizers .meals .the_meal_box_2,
.the_food .dishes .meals .the_meal_box_2,
.the_food .desserts .meals .the_meal_box_2 {
  -webkit-animation: fade 4000ms;
          animation: fade 4000ms;
}
.the_food .appetizers .meals .the_meal_box_3,
.the_food .dishes .meals .the_meal_box_3,
.the_food .desserts .meals .the_meal_box_3 {
  -webkit-animation: fade 6000ms;
          animation: fade 6000ms;
}
.the_food .appetizers .meals .the_meal_box_1,
.the_food .appetizers .meals .the_meal_box_2,
.the_food .appetizers .meals .the_meal_box_3,
.the_food .dishes .meals .the_meal_box_1,
.the_food .dishes .meals .the_meal_box_2,
.the_food .dishes .meals .the_meal_box_3,
.the_food .desserts .meals .the_meal_box_1,
.the_food .desserts .meals .the_meal_box_2,
.the_food .desserts .meals .the_meal_box_3 {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.the_food .appetizers .meals .the_meal_box_1 .check,
.the_food .appetizers .meals .the_meal_box_2 .check,
.the_food .appetizers .meals .the_meal_box_3 .check,
.the_food .dishes .meals .the_meal_box_1 .check,
.the_food .dishes .meals .the_meal_box_2 .check,
.the_food .dishes .meals .the_meal_box_3 .check,
.the_food .desserts .meals .the_meal_box_1 .check,
.the_food .desserts .meals .the_meal_box_2 .check,
.the_food .desserts .meals .the_meal_box_3 .check {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  font-size: x-large;
}
.the_food .appetizers .meals .the_meal_box_1 .check i,
.the_food .appetizers .meals .the_meal_box_2 .check i,
.the_food .appetizers .meals .the_meal_box_3 .check i,
.the_food .dishes .meals .the_meal_box_1 .check i,
.the_food .dishes .meals .the_meal_box_2 .check i,
.the_food .dishes .meals .the_meal_box_3 .check i,
.the_food .desserts .meals .the_meal_box_1 .check i,
.the_food .desserts .meals .the_meal_box_2 .check i,
.the_food .desserts .meals .the_meal_box_3 .check i {
  transform: rotate(140deg);
}
.the_food .appetizers .meals .the_meal_box_1 .alltext,
.the_food .appetizers .meals .the_meal_box_2 .alltext,
.the_food .appetizers .meals .the_meal_box_3 .alltext,
.the_food .dishes .meals .the_meal_box_1 .alltext,
.the_food .dishes .meals .the_meal_box_2 .alltext,
.the_food .dishes .meals .the_meal_box_3 .alltext,
.the_food .desserts .meals .the_meal_box_1 .alltext,
.the_food .desserts .meals .the_meal_box_2 .alltext,
.the_food .desserts .meals .the_meal_box_3 .alltext {
  width: 88%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  margin-right: 10px;
}
.the_food .appetizers .meals .the_meal_box_1 .alltext .meal_text,
.the_food .appetizers .meals .the_meal_box_2 .alltext .meal_text,
.the_food .appetizers .meals .the_meal_box_3 .alltext .meal_text,
.the_food .dishes .meals .the_meal_box_1 .alltext .meal_text,
.the_food .dishes .meals .the_meal_box_2 .alltext .meal_text,
.the_food .dishes .meals .the_meal_box_3 .alltext .meal_text,
.the_food .desserts .meals .the_meal_box_1 .alltext .meal_text,
.the_food .desserts .meals .the_meal_box_2 .alltext .meal_text,
.the_food .desserts .meals .the_meal_box_3 .alltext .meal_text {
  flex-direction: column;
  width: 88%;
}
.the_food .appetizers .meals .the_meal_box_1 .alltext h3,
.the_food .appetizers .meals .the_meal_box_2 .alltext h3,
.the_food .appetizers .meals .the_meal_box_3 .alltext h3,
.the_food .dishes .meals .the_meal_box_1 .alltext h3,
.the_food .dishes .meals .the_meal_box_2 .alltext h3,
.the_food .dishes .meals .the_meal_box_3 .alltext h3,
.the_food .desserts .meals .the_meal_box_1 .alltext h3,
.the_food .desserts .meals .the_meal_box_2 .alltext h3,
.the_food .desserts .meals .the_meal_box_3 .alltext h3 {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.the_food .appetizers .meals .the_meal_box_1 .alltext p,
.the_food .appetizers .meals .the_meal_box_2 .alltext p,
.the_food .appetizers .meals .the_meal_box_3 .alltext p,
.the_food .dishes .meals .the_meal_box_1 .alltext p,
.the_food .dishes .meals .the_meal_box_2 .alltext p,
.the_food .dishes .meals .the_meal_box_3 .alltext p,
.the_food .desserts .meals .the_meal_box_1 .alltext p,
.the_food .desserts .meals .the_meal_box_2 .alltext p,
.the_food .desserts .meals .the_meal_box_3 .alltext p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.the_food .appetizers .meals .the_meal_box_1 .alltext .price,
.the_food .appetizers .meals .the_meal_box_2 .alltext .price,
.the_food .appetizers .meals .the_meal_box_3 .alltext .price,
.the_food .dishes .meals .the_meal_box_1 .alltext .price,
.the_food .dishes .meals .the_meal_box_2 .alltext .price,
.the_food .dishes .meals .the_meal_box_3 .alltext .price,
.the_food .desserts .meals .the_meal_box_1 .alltext .price,
.the_food .desserts .meals .the_meal_box_2 .alltext .price,
.the_food .desserts .meals .the_meal_box_3 .alltext .price {
  align-self: end;
}
.the_food .appetizers .meals .the_meal_box_1:hover .check,
.the_food .appetizers .meals .the_meal_box_2:hover .check,
.the_food .appetizers .meals .the_meal_box_3:hover .check,
.the_food .dishes .meals .the_meal_box_1:hover .check,
.the_food .dishes .meals .the_meal_box_2:hover .check,
.the_food .dishes .meals .the_meal_box_3:hover .check,
.the_food .desserts .meals .the_meal_box_1:hover .check,
.the_food .desserts .meals .the_meal_box_2:hover .check,
.the_food .desserts .meals .the_meal_box_3:hover .check {
  visibility: visible;
  width: 20%;
  transition: all 500ms;
}
.the_food .appetizers .meals .the_meal_box_1:hover .check i,
.the_food .appetizers .meals .the_meal_box_2:hover .check i,
.the_food .appetizers .meals .the_meal_box_3:hover .check i,
.the_food .dishes .meals .the_meal_box_1:hover .check i,
.the_food .dishes .meals .the_meal_box_2:hover .check i,
.the_food .dishes .meals .the_meal_box_3:hover .check i,
.the_food .desserts .meals .the_meal_box_1:hover .check i,
.the_food .desserts .meals .the_meal_box_2:hover .check i,
.the_food .desserts .meals .the_meal_box_3:hover .check i {
  transform: rotate(360deg);
  transition: 400ms ease-in-out;
}
.the_food .appetizers .meals .the_meal_box_1:hover .alltext,
.the_food .appetizers .meals .the_meal_box_2:hover .alltext,
.the_food .appetizers .meals .the_meal_box_3:hover .alltext,
.the_food .dishes .meals .the_meal_box_1:hover .alltext,
.the_food .dishes .meals .the_meal_box_2:hover .alltext,
.the_food .dishes .meals .the_meal_box_3:hover .alltext,
.the_food .desserts .meals .the_meal_box_1:hover .alltext,
.the_food .desserts .meals .the_meal_box_2:hover .alltext,
.the_food .desserts .meals .the_meal_box_3:hover .alltext {
  width: 75%;
  transition: all 100ms;
}
.the_food .appetizers .meals .the_meal_box_1:hover h3,
.the_food .appetizers .meals .the_meal_box_1:hover p,
.the_food .appetizers .meals .the_meal_box_2:hover h3,
.the_food .appetizers .meals .the_meal_box_2:hover p,
.the_food .appetizers .meals .the_meal_box_3:hover h3,
.the_food .appetizers .meals .the_meal_box_3:hover p,
.the_food .dishes .meals .the_meal_box_1:hover h3,
.the_food .dishes .meals .the_meal_box_1:hover p,
.the_food .dishes .meals .the_meal_box_2:hover h3,
.the_food .dishes .meals .the_meal_box_2:hover p,
.the_food .dishes .meals .the_meal_box_3:hover h3,
.the_food .dishes .meals .the_meal_box_3:hover p,
.the_food .desserts .meals .the_meal_box_1:hover h3,
.the_food .desserts .meals .the_meal_box_1:hover p,
.the_food .desserts .meals .the_meal_box_2:hover h3,
.the_food .desserts .meals .the_meal_box_2:hover p,
.the_food .desserts .meals .the_meal_box_3:hover h3,
.the_food .desserts .meals .the_meal_box_3:hover p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media all and (min-width: 992px) {
  .the_food .appetizers .meals .the_meal_box_1:hover,
.the_food .appetizers .meals .the_meal_box_2:hover,
.the_food .appetizers .meals .the_meal_box_3:hover,
.the_food .dishes .meals .the_meal_box_1:hover,
.the_food .dishes .meals .the_meal_box_2:hover,
.the_food .dishes .meals .the_meal_box_3:hover,
.the_food .desserts .meals .the_meal_box_1:hover,
.the_food .desserts .meals .the_meal_box_2:hover,
.the_food .desserts .meals .the_meal_box_3:hover {
    cursor: pointer;
  }
}
@media all and (min-width: 992px) {
  .the_food .appetizers h3,
.the_food .dishes h3,
.the_food .desserts h3 {
    font-size: medium;
  }
  .the_food .appetizers p,
.the_food .dishes p,
.the_food .desserts p {
    font-size: small;
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(360deg) scale(1);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes disappear {
  100% {
    visibility: collapse;
  }
}
@keyframes disappear {
  100% {
    visibility: collapse;
  }
}
@-webkit-keyframes fillup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fillup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes moveup {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 20px;
  }
}
@keyframes moveup {
  0% {
    margin-top: 30px;
  }
  100% {
    margin-top: 20px;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */