@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

$color-mint: #99E2D0;
$color-pink: #FF79DA;
$color-purple: #9356DC;
$color-grey: #f0f0f08f;

// .load {
//     position: fixed;
//     display: flex;
//     justify-content: center;
//     inset: 0;
//     background-color: white;
//     opacity: 0.9;
//     animation: disappear 3s;
//     animation-fill-mode: both;
// }

// .loader {
//     position: absolute;
//     display: block;
//     margin: auto;
//     margin-top: 200px;
//     border: 10px solid;
//     width: 120px;
//     height: 120px;
//     border-top-color: $color-pink;
//     border-bottom-color: $color-mint;
//     border-left-color: $color-purple;
//     border-right-color: $color-purple;
//     border-radius: 50%;
//     animation: rotate 3s linear;
//     animation-fill-mode: both;
// }

// @keyframes rotate {
//     0% {
//         transform: rotate(360deg) scale(1);

//     }

//     100% {
//         opacity: 0;
//     }
// }

// @keyframes disappear {
//     100% {
//         visibility: collapse;
//     }
// }

.location,
.infos {
    padding-left: 20px;
    padding-right: 20px;
}

.location {
    height: 40px;
    background-color: #e3e3e3c2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    p {
        margin: 0;
        text-align: center;
        font-weight: bold;
    }
}

.infos {
    background-color: $color-grey;
    padding-bottom: 30px;

    h1 {
        margin-top: 0;
        padding-top: 30px;
        text-align: center;
        font-size: 1.6em;
    }

    p {
        text-align: center;
        font-weight: lighter;
        font-size: larger;
    }
}

header button,
.menu button {
    display: block;
    margin: 30px auto 30px auto;
    height: 30px;
    border-radius: 20px;
    border: $color-pink;
    background: linear-gradient(to bottom right, $color-pink, $color-purple);
    color: white;
    box-shadow: 0px 5px 20px #999;
    padding: 13px 20px 28px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.fonction h2,
.restaurants h2 {
    margin: 10% 0 10% 5%;
    font-weight: bolder;
}

.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    padding-right: 10px;
    gap: 25px;

    .step {
        width: 80%;
        border: none;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        background-color: #f0f0f07b;
        margin-left: 5%;
        padding: 5% 0 5% 10%;
        display: flex;
        align-items: center;
        font-size: medium;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        gap: 25px;

    }

    :active {
        background-color: #9256dc25;

        i {
            color: #9356DC;
        }
    }

    i {
        color: #6E6E6E;
        font-size: large;
    }
}

.number {
    border-radius: 50%;
    background-color: #9356DC;
    margin-left: -50px;
    padding: 5px 10px 5px 10px;
    font-size: small;
    color: white;
}

.restaurants {
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
    margin-bottom: 30px;
    padding-top: 5%;
    padding-bottom: 5%;

    a {
        text-decoration: none;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.rest_card {
    height: 250px;
    border-radius: 15px;
    box-shadow: 0px 5px 20px #999;
    position: relative;
}

.card_image {
    height: 70%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
    }
}

.new {
    position: absolute;
    font-weight: bold;
    border-radius: 2px;
    padding: 2% 3% 2% 3%;
    background-color: $color-mint;
    color: #088C6C;
    top: 5%;
    right: 5%;
}

.card_body {
    display: flex;
    flex-direction: column;
    padding-left: 13px;
    color: black;

    h3 {
        margin-top: 12px;
        margin-bottom: 2px;

    }

    p {
        margin: 0;
    }
}

.heart {
    display: block;
    margin: 5%;
    font-size: 25px;
    color: black;
    position: absolute;
    top: 70%;
    left: 80%;

    .empty_heart {
        color: black;
    }

    .full_heart {
        background: linear-gradient(to top, $color-pink, $color-purple);
        ;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        visibility: hidden;
        display: block;
        margin-top: -120%;
    }

    &:hover {
        .empty_heart {
            visibility: hidden;
        }

        .full_heart {
            visibility: visible;
            animation: fillup 2s;
        }
    }
}

@keyframes fillup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    padding: 5% 0 3% 5%;
    background-color: #5C5C5C;
    color: white;

    img {
        width: 30%;
        color: white;
        filter: invert(100%);
    }
}

.links a {
    color: white;
    text-decoration: none;
}

.link_1,
.link_2 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.link_1 i {
    display: block;
    margin: auto 16px auto 0;
}

.link_2 {

    i {
        margin-right: 10px;
    }

    p {
        margin: 0
    }
}

/* PAGES DES MENUS */
.title_m {
    display: flex;
    gap: 0;

    i {
        color: black;
        margin-left: 20px;
        padding-top: 40%;
    }
}

.title img,
.title_m img {
    display: block;
    margin: auto;
    width: 40%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.title_m img {
    margin-left: 21%;
}

.pic {
    width: 100%;
    height: 210px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    border-radius: 50px 50px 0 0;
    background-color: #F0F0F0;
    padding: 5%;
    position: relative;

    h2 {
        margin-left: 0;
        margin-bottom: 5px;
        font-weight: 400;
    }
}

.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-family: 'Shrikhand', cursive;
        font-size: xx-large;
    }

    i {
        font-size: xx-large;
    }
}

.underline {
    width: 60px;
    height: 5px;
    background-color: $color-mint;
}

.appetizers,
.dishes,
.desserts {
    margin-bottom: 50px;
}

.meals {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    animation: moveUp 1000ms;
}

.the_meal_1,
.the_meal_2,
.the_meal_3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    position: relative;
    padding: 3% 0 3% 3%;
    border-radius: 15px;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // overflow: hidden;
    animation-name: fadeIn;

    // width: 80%;

    .alltext {
        display: flex;
        justify-content: space-between;
        width: 95%;
    }

    .meal_text {
        flex-direction: column;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: bolder;
    }

    p {
        margin: 0;
    }

    .price {
        align-self: flex-end;
    }

    #check {
        // visibility: hidden;
        border: $color-mint;
        background-color: $color-mint;
        border-radius: 0 15px 15px 0;
        color: white;
        position: absolute;
        left: 85%;
        top: -1px;
        padding: 5%;
        font-size: x-large;
    }

    // &:hover {
    //     #check {
    //         visibility: visible;
    //         animation-name: slideIn;
    //         animation-duration: 2s;
    //         transition: margin-right;
    //         padding: 5%;
    //         transform-origin: left;
    //     }

    //     .alltext {
    //         text-overflow: ellipsis;
    //     }
    // }

    /* translateY */
    @keyframes slideIn {
        from {
            margin-left: 2000px;
        }

        to {
            margin-left: 30px;
        }
    }

    /* ANIMATION FADE IN MENU */
    .the_meal_1 {
        animation-duration: 2s;
    }

    .the_meal_2 {
        animation-duration: 4s;
    }

    .the_meal_3 {
        animation-duration: 6s;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    /*ANIMATION MOVE UP MENU */
    @keyframes moveUp {
        0% {
            margin-top: 30px;
        }

        100% {
            margin-top: 20px;
        }
    }


    // // .the_meal_1 a:active {
    // //     i {
    // //        transform-origin: 50% 0%;
    // //         transform: scaleX(1);
    // //     }
    // // }

    // @keyframes slidein {
    //     0% {
    //         transform-origin: left;
    //     }

    //     100%{ 
    //         transform: scaleX(0deg);
    //     }


    // }

    // .the_meal_1 a:active{
    //     .check{
    //         display: unset;
    //     }
    // }
}


@media all and (min-width: 992px) {
    .infos {

        h1 {
            width: 100%;
            font-size: 2.5em;
        }

        p {
            font-size: x-large;
        }
    }

    .title img {
        width: 20%;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    header button,
    .menu button {
        padding-bottom: 32px;
        font-size: large;
        transform: scale (1);
        transition-property: transform;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.10);
            cursor: pointer;
            /*éclaircir le bouton*/
            opacity: -15;
        }
    }

    .fonction h2,
    .restaurants h2 {
        margin: 3%;
    }

    .steps {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 3% 5% 3%;

        button {
            height: 60px;
            width: 30%;
            padding-left: 6%;
            margin-left: 0;
            gap: 20px;
            transform: scale (1);
            transition-property: transform;
            transition-duration: 0.5s;

            &:hover {
                transform: scale(1.10);
                background-color: rgba(146, 86, 220, 0.1450980392);

                i {
                    color: #9356DC;
                }

                cursor: pointer;
            }
        }

        // :active {
        //     background-color: rgba(146, 86, 220, 0.1450980392);

        //     i {
        //         color: #9356DC;
        //     }
        // }

        i {
            display: block;
            color: #6E6E6E;
        }
    }

    .number {
        padding: 3% 5% 3% 5%;
        margin-left: -80px;
        font-weight: bold;
    }

    .cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 3%;
        margin-right: 3%;
        padding: 0;
    }

    .rest_card {
        height: 260px;
        width: 260px;
        transform: scale (1);
        transition-property: transform;
        transition-duration: 0.5s;

        &:hover {
            transform: scale(1.10);
            cursor: pointer;
        }
    }

    .heart {
        display: block;
        margin: 12% 8% 5% 5%;
        font-size: 25px;
        color: black;

        .empty_heart {
            color: black;
        }

        .full_heart {
            background: linear-gradient(to top, $color-pink, $color-purple);
            ;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            visibility: hidden;
            display: block;
            margin-top: -120%;
        }

        &:active {
            .empty_heart {
                visibility: hidden;
            }

            .full_heart {
                visibility: visible;
                animation: fillUp 3s liner;
                animation-fill-mode: both;
            }
        }
    }

    @keyframes fillUp {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 0.5;
        }

        100% {
            opacity: 1;
        }
    }

    .restaurants {
        margin-bottom: 0;
    }

    footer {
        padding: 3% 0 3% 3%;

        img {
            width: 15%;
            margin-bottom: 1%;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 10%;

        i {
            display: block;
            margin: auto 16px auto 0;
        }
    }

    .link_2 {
        align-items: center;
    }

    /* PAGE DES MENUS */

    .title_m {

        i {
            font-size: xx-large;
            margin-top: 15%;
        }

        img {
            display: block;
            margin: auto;
            width: 20%;
        }
    }

    .pic {
        width: 100%;
        height: 210px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .meals {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .appetizers {
        display: flex;
        flex-direction: column;
    }

    .the_meal_1,
    .the_meal_2,
    .the_meal_3 {
        padding: 10px;
        width: 40%;
    }
}